#!/usr/bin/perl
package TOM;
use strict;

$TOM::contact{'TECH_farm'}=""; # zodpovedny za konkretnu farmu
$TOM::contact{'WEB_farm'}="";
$TOM::contact{'from'}="cyclone3\@localhost";

$TOM::DB{'main'}=
{
	host	=>"localhost",
	user	=>"TOM",
	pass	=>"",
};

$TOM::DB{'stats'}=$TOM::DB{'main'};
$TOM::DB{'sys'}=$TOM::DB{'main'};

$TOM::smtp_host='localhost';

1;# DO NOT CHANGE !
