iframe {
	border: 1px solid red;
}
form {
	margin: 0px;
	padding: 0px;
	display: inline;
}
_body{
	background-color: #6487DC;
}
input, textarea {
	background-color: #d1dbf5;
	border: 1px solid #ffffff;
	height: 17px;
	font-size: 12px;
}
select {
	background-color: #d1dbf5;
	border: 1px solid #ffffff;
	font-size: 12px;
}
textarea, select {
	scrollbar-face-color: #a3bbdf;
	scrollbar-shadow-color: #91aed9;
	scrollbar-highlight-color: #91aed9;
	scrollbar-3dlight-color: #2B83FF;
	scrollbar-darkshadow-color: #91aed9;
	scrollbar-track-color: #bfd0e9;
	scrollbar-arrow-color: #5482c4;
}
input.btn {
	font-size: 10px;
	background-color: #9b6b85;
	color: #ffffff;
	margin: 2px;
	width: 125px;
}
.btn-bar {
	width: 100%;
	text-align: center;
	background-repeat: no-repeat;
}
input.chkbox {
	background: none;
	border: none;
}
/*listing definitions*/
_.listing-hi2{
	background-color: #94B7FC;
	cursor: default;
}
_.listing-nrml{
	background-color: #6487dc;
	cursor: default;
}
body, td {
	font-family: Tahoma;
	font-size: 11px;
}
.listing-old td {
	background-color: #5280e0;
	cursor: default;
	padding: 2px;
}
.listing-yesterday td {
	cursor: default;
	padding: 2px;
}
.listing-today td {
	background-color: #7493e0;
	cursor: default;
	padding: 2px;
}
.listing-tomorrow td {
	background-color: #9ab1e8;
	cursor: default;
	padding: 2px;
}
.listing-tomotomorrow td {
	background-color: #b9c9ef;
	cursor: default;
	padding: 2px;
}
.listing-future td {
	background-color: d1dbf5;
	cursor: default;
	padding: 2px;
}
.listing-old td, .listing-yesterday td, .listing-today td, .listing-tomorrow td, .listing-tomotomorrow td, .listing-future td {
	border-right: 1px solid #3373e8;
	border-bottom: 1px solid #3373e8;
	color: #000000;
	padding: 2px;
}
.listing-old a, .listing-yesterday a, .listing-today a, .listing-tomorrow a, .listing-tomotomorrow a, .listing-future a {
	color: #000000;
	text-decoration: none;
}
.listing-old-hi a, .listing-yesterday-hi a, .listing-today-hi a, .listing-tomorrow-hi a, .listing-tomotomorrow-hi a, .listing-future-hi a {
	color: #000000;
	text-decoration: none;
}
.listing-old-hi a:hover, .listing-yesterday-hi a:hover, .listing-today-hi a:hover, .listing-tomorrow-hi a:hover, .listing-tomotomorrow-hi a:hover, .listing-future-hi a:hover {
	color: #ff0000;
	text-decoration: none;
}
.listing-old-hi td, .listing-yesterday-hi td, .listing-today-hi td, .listing-tomorrow-hi td, .listing-tomotomorrow-hi td, .listing-future-hi td {
	border-right: 1px solid #3373e8;
	border-bottom: 1px solid #3373e8;
	background-color: f0f0c0;
	padding: 2px;
}
#desktop-bg {
	background-color: #000000;
}
.td_act, .td_inact {
	color: #ffffff;
	/*font-family: arial, helvetica, sans-serif;*/
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	background-color: #0b63f1;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.td_inact {
	cursor: default;
}
.tree-listing td {
	font: 11px Verdana;
}
.tree-listing td a {
	font: 13px Verdana;
	text-decoration: none;
	color: #000000;
}
.tree-line {
	background-color: #6487DC;
}
.lnk {
	cursor: hand;
}
/* dropdown list definitions*/
.dropdown {
	scrollbar-face-color: #a3bbdf;
	scrollbar-shadow-color: #91aed9;
	scrollbar-highlight-color: #91aed9;
	scrollbar-3dlight-color: #2B83FF;
	scrollbar-darkshadow-color: #91aed9;
	scrollbar-track-color: #bfd0e9;
	scrollbar-arrow-color: #5482c4;
}
.dropdown-list {
	overflow:scroll;
	cursor:hand;
	position:absolute;
	background-color: #d1dbf5;
	border: 1px solid #000000;
}
.dropdown-item {
	background-color: #d1dbf5;
	color: #000000;
	font-size: 12px;
}
.dropdown-item-hi {
	background-color: #ffffff;
	color: #000000;
	font-size: 12px;
}
.dropdown-drop {
	width: 12px;
	border: 1px solid #ffffff;
	font-size: 12px;
	cursor:hand;
	background-color: #8daee3;
	color: #ffffff;
}
/* BOXES */
.menu-box {
	background-color: none;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	cursor: default;
}
.menu-box-header {
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	cursor: default;
	-background-color: #0b63f1;
	background-color: #003588;
	border: 1px solid #0b63f1;
	cursor: move;
}
.box-header-button {
	cursor: pointer;
}
.menu-box-in {
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	border-bottom: 1px solid #555555;
	cursor: default;
}
.menu-box-link {
	background-color: #ffffff;
	cursor: default;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #555555;
	border-right: 1px solid #555555;
	border-bottom: 1px solid #cccccc;
	text-indent: 5px;
}
.menu-box-link-hi {
	background-color: #c1cff1;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #555555;
	border-right: 1px solid #555555;
	border-bottom: 1px solid #cccccc;
	text-indent: 5px;
}
/* default box definitions */
.default-box {
	/*border: 1px solid #003588;*/
}
.default-box-header {
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	cursor: default;
	background-color: #003588;
	cursor: move;
	height: 16px;
	overflow: hidden;
}
.default-box-in {
	padding: 2px;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	background-color: #0b63f1;
	border: 1px solid #003588;
	cursor: default;
	color: #ffffff;
}
.default-box-in td {
	color: #ffffff;
}
/* editor box definitions */
#editor-box {
	_width: 435px;
	background-color: #0b63f1;
	border: 1px solid black;
}
#editor-toolbar-top {
	/*border: 1px red solid;*/
	width: 100%;
}
#editor-toolbar-top img {
	border: 0px;
	margin: 2px;
	margin: 2px 0px 2px 2px;
	cursor: hand;
}
#editor-toolbar-right {
	/*border: 1px cyan solid;*/
	float: right;
}
#editor-toolbar-right img {
	border: 0px;
	margin: 2px 2px 0px 2px;
	cursor: hand;
}
#editor-body {
	/*border: 1px yellow solid;*/
	float: left;
}
#edit {
	width:400px;
	height:400px;
	overflow:scroll;
	border: 1px solid #003366;
	background-color: white;
	scrollbar-face-color: #0771E5;
	scrollbar-shadow-color: #0059B8;
	scrollbar-highlight-color: #0B63F1;
	scrollbar-3dlight-color: #2B83FF;
	scrollbar-darkshadow-color: #003998;
	scrollbar-track-color: #0B63F1;
	scrollbar-arrow-color: #000000;
	font: 12px Verdana;
}

.article-box {
	width: 460px;
	border: 1px solid #003588;
}
.article-box-header {
	width: 460px;
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	cursor: default;
	-background-color: #0b63f1;
	background-color: #003588;
	border: 1px solid #003588;
	cursor: move;
	height: 17px;
	overflow: hidden;
}
.article-box-in {
	width: 460px;
	padding: 2px;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	background-color: #0b63f1;
	border: 1px solid #003588;
	cursor: default;
	color: #ffffff;
}
.article-box-in td {
	color: #ffffff;
}
.article-box-in input.long {
	width: 100%;
}
.article-box-in textarea {
	width: 100%;
	height: 50px;
}
