######################################
#                                    #
# Apache VirtualHost's configuration #
#                                    #
######################################


Options FollowSymLinks

<Directory "/www/TOM/">
	Options FollowSymLinks ExecCGI
</Directory>

<Directory "/www/TOM/.core">
	Options FollowSymlinks ExecCGI
</Directory>

ErrorLog /www/TOM/_logs/httpd/all.err.log
CustomLog /www/TOM/_logs/httpd/all.acc.log combined



#######################################################################
# EXAMPLE.TLD
# (this is just example, you don't need all here
#  configured domains and subdomains)
#######################################################################


<VirtualHost 192.168.5.1>
	ServerName example.tld
	ServerAlias www.example.tld
	DocumentRoot /www/TOM/!example.tld/!www
	CustomLog /www/TOM/_logs/httpd/example_tld.acc.log combined
	<Directory /www/TOM/!example.tld/!www>
		Options Indexes FollowSymlinks ExecCGI
		AllowOverride All
	</Directory>
	
	# SOAP domain service
	Alias /soap "/www/TOM/!example.tld/soap/!www"
	<Directory /www/TOM/!example.tld/soap/!www>
		Options FollowSymlinks ExecCGI
		AllowOverride All
	</Directory>
	
</VirtualHost>

# domain service backend to Cyclone3 XULadmin
<VirtualHost 192.168.5.3:80>
	ServerName cyclone.example.tld
	DocumentRoot /www/TOM/!example.tld/!cyclone/!www
	CustomLog /www/TOM/_logs/httpd/cyclone_example_tld.acc.log combined
	<Directory /www/TOM/!example.tld/!cyclone/!www>
		Options Indexes FollowSymlinks ExecCGI
		AllowOverride All
	</Directory>
</VirtualHost>




#######################################################################
# ANOTHER-DOMAIN.TLD
#######################################################################





