######################################
#                                    #
# Apache VirtualHost's configuration #
#                                    #
######################################


Options FollowSymLinks

<Directory "/srv/Cyclone3/">
	Options FollowSymLinks ExecCGI
	Require all granted
</Directory>

<Directory "/srv/Cyclone3">
	Options FollowSymlinks ExecCGI
	Require all granted
</Directory>

ErrorLog /srv/Cyclone3/_logs/httpd/all.err.log
CustomLog /srv/Cyclone3/_logs/httpd/all.acc.log combined



#######################################################################
# EXAMPLE.TLD
# (this is just example, you don't need all here
#  configured domains and subdomains)
#######################################################################


<VirtualHost 192.168.5.1>
	ServerName example.tld
	ServerAlias www.example.tld
	DocumentRoot /srv/Cyclone3/!example.tld/!www
	CustomLog /srv/Cyclone3/_logs/httpd/example_tld.acc.log combined
	<Directory /srv/Cyclone3/!example.tld/!www>
		Options Indexes FollowSymlinks ExecCGI
		AllowOverride All
	</Directory>
	
	# SOAP or XML-RPC domain service
	Alias /rpc "/srv/Cyclone3/!example.tld/rpc/!www"
	<Directory /srv/Cyclone3/!example.tld/rpc/!www>
		Options FollowSymlinks ExecCGI
		AllowOverride All
	</Directory>
	
</VirtualHost>

# domain service backend to Cyclone3 XULadmin
<VirtualHost 192.168.5.3:80>
	ServerName cyclone.example.tld
	DocumentRoot /srv/Cyclone3/!example.tld/!cyclone/!www
	CustomLog /srv/Cyclone3/_logs/httpd/cyclone_example_tld.acc.log combined
	<Directory /srv/Cyclone3/!example.tld/!cyclone/!www>
		Options Indexes FollowSymlinks ExecCGI
		AllowOverride All
	</Directory>
</VirtualHost>




#######################################################################
# ANOTHER-DOMAIN.TLD
#######################################################################





