#!/usr/bin/perl
package TOM;
use strict;

#$TOM::contact{'from'}="cyclone3\@domain.tld";

# zodpovedni za konkretnu farmu
#$TOM::contact{'WEB_farm'}="";
#$TOM::contact{'WEB_list_farm'}="";
#$TOM::contact{'DEV_farm'}="";
#$TOM::contact{'DEV_list_farm'}="";
#$TOM::contact{'TECH_farm'}="";
#$TOM::contact{'TECH_list_farm'}="";

$TOM::DB{'main'}=
{
	host	=>"localhost",
	user	=>"TOM",
	pass	=>"",
};

$TOM::DB{'stats'}=$TOM::DB{'main'};
$TOM::DB{'sys'}=$TOM::DB{'main'};

#$TOM::smtp_host='mail.domain.tld';
#$TOM::smtp_user='cyclone3@domain.tld';
#$TOM::smtp_pass='***';

1;# DO NOT CHANGE !
