#!/usr/bin/perl
package TOM;
use strict;

#$TOM::contact{'from'}="cyclone3\@server.tld";

# responsible contacts of this Cyclone3 installation
$TOM::contact{'_'}="root\@localhost"; # default
$TOM::contact{'TOM_farm'}=$TOM::contact{'_'}; # This installation lead developer and manager

$TOM::contact{'WEB_manager'}=$TOM::contact{'_'}; # manager of WEB services
$TOM::contact{'WEB'}=$TOM::contact{'_'}; # default WEB responsible email
$TOM::contact{'WEB_farm'}=$TOM::contact{'_'}; # leader of WEB services
$TOM::contact{'WEB_list_farm'}=$TOM::contact{'_'}; # maillist of WEB

$TOM::contact{'DEV_manager'}=$TOM::contact{'_'}; # manager of DEV services
$TOM::contact{'DEV'}=$TOM::contact{'_'}; # default DEV responsible email
$TOM::contact{'DEV_farm'}=$TOM::contact{'_'}; # leader of DEV services
$TOM::contact{'DEV_list_farm'}=$TOM::contact{'_'}; # maillist of DEV

$TOM::contact{'TECH_manager'}=$TOM::contact{'_'}; # manager of TECH services
$TOM::contact{'TECH'}=$TOM::contact{'_'}; # default TECH responsible email
$TOM::contact{'TECH_farm'}=$TOM::contact{'_'}; # leader of TECH services
$TOM::contact{'TECH_list_farm'}=$TOM::contact{'_'}; # maillist of TECH

$TOM::contact{'devsupport'}=$TOM::contact{'_'};
$TOM::contact{'websupport'}=$TOM::contact{'_'};
$TOM::contact{'techsupport'}=$TOM::contact{'_'};
$TOM::contact{'support'}=$TOM::contact{'_'};

$TOM::DB{'main'}=
{
	host	=>"localhost",
	user	=>"TOM",
	pass	=>"",
	sql => [
		"SET NAMES 'utf8'",
		"SET CHARACTER SET 'utf8'",
	],
};

#$TOM::DB{'stats'}=
#{
#	host	=>"anotherhost",
#	user	=>"TOM",
#	pass	=>"",
#	sql => [ # you need super privileges - GRANT SUPER
#		"SET NAMES 'utf8'",
#		"SET CHARACTER SET 'utf8'",
#		'SET GLOBAL delayed_queue_size=100000',
#		'SET GLOBAL delayed_insert_timeout=86400',
#	],
#	delayed => 1
#};

$TOM::DB{'stats'}=$TOM::DB{'main'};
$TOM::DB{'sys'}=$TOM::DB{'main'};

#$TOM::smtp_host='mail.domain.tld';
#$TOM::smtp_user='cyclone3@domain.tld';
#$TOM::smtp_pass='***';

1;# DO NOT CHANGE !
