#!/usr/bin/perl
package TOM;
use strict;

$TOM::contact{'_'}='cyclone3@'.$TOM::hostname; # default contact
$TOM::contact{'from'}='cyclone3@'.$TOM::hostname;

# responsible contacts of this Cyclone3 installation

$TOM::contact{'TOM_farm'}=$TOM::contact{'_'}; # This installation lead developer and manager

$TOM::contact{'WEB_manager'}=$TOM::contact{'_'}; # manager of WEB services
$TOM::contact{'WEB'}=$TOM::contact{'_'}; # default WEB responsible email
$TOM::contact{'WEB_farm'}=$TOM::contact{'_'}; # leader of WEB services
$TOM::contact{'WEB_list_farm'}=$TOM::contact{'_'}; # maillist of WEB

$TOM::contact{'DEV_manager'}=$TOM::contact{'_'}; # manager of DEV services
$TOM::contact{'DEV'}=$TOM::contact{'_'}; # default DEV responsible email
$TOM::contact{'DEV_farm'}=$TOM::contact{'_'}; # leader of DEV services
$TOM::contact{'DEV_list_farm'}=$TOM::contact{'_'}; # maillist of DEV

$TOM::contact{'TECH_manager'}=$TOM::contact{'_'}; # manager of TECH services
$TOM::contact{'TECH'}=$TOM::contact{'_'}; # default TECH responsible email
$TOM::contact{'TECH_farm'}=$TOM::contact{'_'}; # leader of TECH services
$TOM::contact{'TECH_list_farm'}=$TOM::contact{'_'}; # maillist of TECH

$TOM::contact{'devsupport'}=$TOM::contact{'_'};
$TOM::contact{'websupport'}=$TOM::contact{'_'};
$TOM::contact{'techsupport'}=$TOM::contact{'_'};
$TOM::contact{'support'}=$TOM::contact{'_'};

#$TOM::smtp_host='mail.domain.tld';
#$TOM::smtp_user='cyclone3@domain.tld';
#$TOM::smtp_SSL=1; # is SSL required?
#$TOM::smtp_pass='***';


$TOM::DB{'main'}=
{
	host	=>"localhost",
	user	=>"Cyclone3",
	pass	=>"",
	sql => [
		"SET NAMES 'utf8'",
		"SET CHARACTER SET 'utf8'",
		"SET character_set_connection='utf8'",
		"SET character_set_database='utf8'",
	],
};

$TOM::DB{'stats'}=$TOM::DB{'main'};
$TOM::DB{'sys'}=$TOM::DB{'main'};

# user rights
# $TOM::user="cyclone3";
# $TOM::group="cyclone3";
$TOM::user_www="www-data";
# $TOM::mediasrv_user="apache";
# $TOM::mediasrv_group="www";

# $pub::gzip_disable=0
$TOM::CACHE_memcached=1;

$Ext::Redis::host='localhost:6379';

1;# don't remove!
